* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {


  background-color: rgb(143, 99, 171);
}
h1{
  color: rgb(245, 240, 250);
  font-style: italic;
  font-weight: bold;
}
#wrapper{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 150px;
  color: rgb(111, 80, 212);
  font-style: italic;

}
#quizDiv,
#scoreDiv {
  width: 50%;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 20px;
  background-color: #f89bdf;
  position: relative;
}
#scoreDiv {
  display: none;
}
.timer {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(63, 50, 252);
  color: #ec74da;
  font-size: 1.5rem;
}
.question {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.option {
  width: 46%;
  padding: 0.5rem;
  border: 2px solid #9a42e8;
  border-radius: 20px;
  background-color: azure;
  text-align: center;
  transition: all 400ms;
  cursor: pointer;
}
.option:hover {
  transform: scale(1.1);
  background-color: #5659f7;
  color: #f0d7d7;
}

button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(130, 56, 241);
  border-radius: 20px;
  background-color: rgb(188, 140, 247);
  text-align: center;
  transition: all 400ms;
  cursor: pointer;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.4);
}
footer{
  margin: 0px;
  padding: 0px;
  text-align: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  background-color: #f6e9f8;
  height: 30px;
  width: 100%;
  font-size: 20px;
  color: #0931f8;
}
